

.card {
display: flex;
flex-direction: column;
list-style: none;

}

.card__image {
width: 282px;
height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart-disable.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}