
.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;

  }

  .card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  }
  .card__title {
    margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .card__description {
    display: flex;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card__image-title {
    font-family: "Inter", Arial, sans-serif;
    line-height: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    margin: 0;
    max-width: 200px;
  }

  .card__like-button {
    background: transparent url(../images/heart-disable.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
  }
  .card__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
  }
  .card__like-button:hover {
    opacity: 50%;
    transition: 0.1s;
    cursor: pointer;
  }