.footer {
  max-width: 880px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-bottom: 60px;
  padding-top: 67px;
}
.footer__content {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin: 48px 19px 36px 19px;
    max-width: 320px;
  gap:inherit;
  }
  .footer__content {
    margin: 0;
    padding: 0;
  }
}