.footer {
  max-width: 880px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-bottom: 60px;
  padding-top: 67px;
}
.footer__content {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 595px) {
  .footer {
    padding: 48px 0 36px 0;
    max-width: 282px;
    gap:inherit;
  }

  .footer__content {
    line-height: 17px;
    font-size: 14px;
  }
}