
.header {
  margin-top: 45px;
  border-bottom:white solid;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}