.profile {
  align-items: center;
  justify-content: center;
  margin: 40px auto 36px;
  max-width: 880px;
  display: flex;
}

.profile__info {
  margin-left: 19px;
  margin-right: 19px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 391px) auto;
  flex-wrap: wrap;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: #ffffff solid 1px;
  background-size: 10px 10px;
  margin: 0;
  grid-area: button;
  cursor: pointer;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 60%;
}
.profile__add-button {
  background: transparent url(../images/add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition: 1s;
}

.profile__add-button:hover {
  transition: 0.1s;
  opacity: 60%;
  cursor: pointer;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  padding-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__description {
  flex-grow: 1;
  min-width: 0;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  max-width: 400px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 24px;
  object-fit: contain;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin: 0;
    padding-top: 38px;
    width: 100%;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
    padding-top: 26px;
    text-align: center;
  }

  .profile__description {
    width: 100%;
    max-width: 282px;
    line-height: 17px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 36px;
    padding-left: 0;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    text-align: right;
    margin: 0;
    align-items: center;
    column-gap: 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: 282px;
    justify-content: center;
    position: relative;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    position: absolute;
    background-size: 7.5px 7.5px;
    top: 29px;
    right: 2px;
  }

  .profile__add-button {
    width: 100%;
    margin-left: 0;
    max-width: 282px;
    margin-bottom: 36px;
  }
}
