.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  color: #000;
  padding: 36px 36px 48px 36px;
  width: 358px;
  height: 258px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url("../images/close.icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.1s linear;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__heading {
  margin: 0;
  padding-bottom: 44px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: none;
  font-size: 14px;
  line-height: 1.2;
}

.modal__label {
  position: relative;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  width: 358px;
  margin: 0;
  transition: opacity 0.3s;
}

.modal__error_visible {
  opacity: 1;
  left: 0px;
  top: 5px;
  position: relative;
}

.modal__input {
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__button {
  background-color: #000;
  color: #fff;
  padding: 14px 124px 18px 124px;
  margin-top: 18px;
  border: solid;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity 0.1s linear;
}

.modal__button:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.modal__button_disabled {
  opacity: 20%;
  cursor: default;
}

.modal__close_preview {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -30px;
  right: -30px;
}

.preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-text {
  margin: 0;
  margin-top: 8px;
}

.modal__image-container {
  position: relative;
}

@media screen and (max-width: 700px) {
  .modal__close {
    position: absolute;
    left: calc(100% - 40px);
    bottom: calc(100% + 14px);
    width: 26px;
    height: 26px;
  }

  .modal {
    padding: 0 20px 0 1px;
  }

  .modal__container {
    padding: 25px 22px;
    max-width: 282px;
    width: 80%;
  }

  .popup__button {
    margin-top: 15px;
  }

  .modal__close_preview {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
  }
}
