.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
