.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 9px 17px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__add-button {
  background: transparent url(../images/add-button.png) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__add-button:hover {
  opacity: 0.5;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.profile__image-edit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  background-size: 26px;
  transition: all 0.3s;
  opacity: 0;
  outline: none;
  border-radius: 50%;
}

.profile__image-edit:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__avatar-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .profile__description {
    margin-top: 0;
  }

  .profile__title {
    font-size: 22px;
    min-width: 201px;
    max-width: 222px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    text-align: center;
  }

  .profile__image {
    margin: 0px auto 26.25px;
  }

  .profile__title {
    line-height: 26.63px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    align-self: baseline;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 36px;
  }
}
