.page {
    background-color: black;
    color: white;
}

.page__content {
    margin-left: 200px;
    margin-right: 200px;

}

.header {
    margin-top: 45px;
    max-width: 880px;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;

}

.profile__info {
    display: grid;
    grid-template-areas: 
    "title button"
    "description description";
    grid-template-columns: minmax(auto, 373px) auto;
}
.profile__edit-button {
    background: transparent url(..images/edit.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
}
.profile__add-button {
    background: transparents url(../images/add-button.png) center no-repeat;
    width: 150px;
    height: 50px;
    margin-left: auto;
}
.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
}
.profile__desctription { 
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
}