@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/card.css);
@import url(../blocks/profile.css);
@import url(../blocks/footer.css);
@import url(../blocks/cards.css);
@import url(../blocks/card__list.css);


@media screen and (max-width:480px) {
    .profile {
        background-color: red;
        flex-direction: column;
    }
    .profile__info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .profile__desctription {
        width: 100%;
        text-align: center;
    }
    .profile__ad-button {
        margin: 0;
        width: 100%;
    }

}